.main-footer {
  background-color: #f093c3;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}
.main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.main-footer .footer-content img {
  height: 50px;
}
.main-footer .footer-content .sitemap,
.main-footer .footer-content .social-links {
  display: flex;
  flex-direction: column;
}
.main-footer a {
  color: white;
  margin-bottom: 5px;
}
